input[type="text"],
input[type="email"],
input[type="password"] {
  all: unset;
  width: 100%;
  padding: 0.5rem;
  /* font-size: 1rem; */
  color: #f9fafb; 
  background-color: transparent;
  /* border: 1px solid #334155;  */
  border-radius: 0.5rem;
  transition: border 0.3s, background-color 0.3s;
}
input{
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #38bdf8; 
  /* background-color: rgba(255, 255, 255, 0.05); */
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #1C1917 inset !important;
  -webkit-text-fill-color: #f9fafb !important;
  transition: background-color 5000s ease-in-out 0s;
}
input::placeholder {
  color: #94a3b8;
  font-weight: 300;
  opacity: 0.8;
}
