.form {
    min-width: fit-content;
    padding: 10px;
    box-sizing: border-box;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    border-radius: 15px;
    background-color: #151515;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: .4s ease-in-out;
  }
  
  .form:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    scale: 0.99;
  }
  
  .heading {
    
    text-align: center;
    color: black;
    font-weight: bold;
  }
  
  .check {
    
    align-self: center;
  }
  
  .input {
   
    width: 2.5em;
    height: 2.5em;
    margin: 1em;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgb(30, 28, 28);
    box-shadow: inset 3px 3px 6px #110b0b,
              inset -3px -3px 6px #000000;
    color: antiquewhite;
    text-align: center;
    transition: .4s ease-in-out;
  }
  
  .input:hover {
    /* box-shadow: inset 0px 0px 0px #433b3b,
              inset 0px 0px 0px #1b1313; */
    background-color: rgb(45, 38, 38);
  }
  
  .input:focus {
    box-shadow: inset 0px 0px 0px #352727,
              inset 0px 0px 0px #3e3232;
    background-color: rgba(44, 33, 33, 0.868);
  }
  
  .btn1 {
    
    
    width: 17em;
    height: 3em;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    box-shadow: 1px 1px 3px #b5b5b5,
               -1px -1px 3px #ffffff;
  }
  
  .btn1:active {
    box-shadow: inset 3px 3px 6px #b5b5b5,
              inset -3px -3px 6px #ffffff;
  }
  
  .btn2 {
    
   
    width: 17em;
    height: 3em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    box-shadow: 1px 1px 3px #b5b5b5,
               -1px -1px 3px #ffffff;
  }
  
  .btn2:active {
    box-shadow: inset 3px 3px 6px #b5b5b5,
              inset -3px -3px 6px #ffffff;
  }